<footer class="footer">
  <div class="grid grid--footer-2">
    <div class="logo-col">
      <h1 class="logo">song-rec<span style="color: #18ac4c">.me</span></h1>
    </div>

    <div class="logo-col">
      <p>
        <span>Note on Spotify API Access Limitations</span><br />
        Due to recent changes in Spotify’s API policy, public access is now
        significantly restricted. As a result, this application's functionality
        is limited. In order to use the app, your email must be pre-registered
        on my Spotify Developer Dashboard, which unfortunately introduces
        friction to the user experience.
        <a
          href="https://www.reddit.com/r/truespotify/comments/1l2am4i/spotify_just_killed_indie_development_with_their/"
          target="_blank"
          >[Reddit]: Spotify just killed indie development with their new API
          restrictions</a
        >
      </p>
    </div>
  </div>

  <div class="grid grid--footer">
    <div style="text-align: left">&copy; 2025 All Rights Reserved</div>
    <div style="text-align: center">
      Made with ❤️ by MacArdghail.<br />
      Not affiliated with Spotify
    </div>
    <div style="text-align: right">
      <button class="back-to-top" (click)="scrollToTop()">
        Back To Top &uarr;
      </button>
    </div>
  </div>
</footer>
