<body>
  <div class="container">
    <div class="view-btns-container">
      <button
        (click)="view('recieved')"
        class="toggle-view-btn"
        [ngClass]="{ 'toggle-view-btn-active': showReceived }"
      >
        <span style="color: #222222">RECEIVED</span>
      </button>
      <span class="divider"> | </span>

      <button
        (click)="view('sent')"
        class="toggle-view-btn"
        [ngClass]="{ 'toggle-view-btn-active': !showReceived }"
      >
        <span style="color: #222222"> SENT</span>
      </button>
    </div>
    <div *ngIf="loading" class="container-x"></div>
    <div *ngIf="!loading">
      <app-playlists
        *ngIf="showReceived"
        [playlists]="playlists"
      ></app-playlists>
      <app-sent *ngIf="!showReceived" [sentRecs]="recs"></app-sent>
    </div>
  </div>
</body>
