<body>
  <div class="container">
    <div class="view-btns-container">
      <button
        (click)="view('recieved')"
        class="toggle-view-btn"
        [ngClass]="{ 'toggle-view-btn-active': showReceived }"
      >
        <span style="color: #222222">RECEIVED</span>
      </button>
      <span class="divider"> | </span>

      <button
        (click)="view('sent')"
        class="toggle-view-btn"
        [ngClass]="{ 'toggle-view-btn-active': !showReceived }"
      >
        <span style="color: #222222"> SENT</span>
      </button>
    </div>

    <div *ngIf="loading" class="container-x"></div>
    <div *ngIf="!loading">
      <div *ngIf="showReceived">
        <button
          *ngIf="playlists.length !== 0"
          (click)="showDialog()"
          class="create-btn"
        >
          <span>CREATE <span class="rec-text">REC</span> PLAYLIST</span>
        </button>
        <div *ngIf="playlists.length === 0" class="container-x">
          <h1 style="text-align: center">
            You don't have any recommendation playlists open
          </h1>
          <button (click)="showDialog()" class="create-btn">
            <span>CREATE PLAYLIST</span>
          </button>
        </div>
        <div *ngIf="playlists.length !== 0" class="playlist-container">
          <div
            *ngFor="let playlist of playlists"
            class="playlist"
            style="margin: 0 auto"
          >
            <button [routerLink]="['/', playlist.id]" class="playlist-btn">
              <div class="playlist-img-container">
                <img
                  class="playlist-img"
                  [src]="
                    playlist.image_url
                      ? playlist.image_url
                      : 'https://community.spotify.com/t5/image/serverpage/image-id/25294i2836BD1C1A31BDF2?v=v2'
                  "
                  alt="Playlist cover"
                />
              </div>
              <p class="playlist-name">
                {{ playlist.name }}
              </p>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!loading">
      <!-- View to show recommendations you've sent-->
      <div *ngIf="!showReceived && recs.length === 0" class="container-x">
        <h1 style="text-align: center">
          You haven't recommended any tracks to anyone 🥺
        </h1>
      </div>
      <div *ngIf="!showReceived && recs.length !== 0">
        <h1 class="title">Recommendations you've sent</h1>

        <div *ngFor="let rec of recs; let i = index" class="recs-container">
          <div class="track-row">
            <div class="index">{{ i + 1 }}</div>
            <div class="track-info">
              <img class="album-cover" [src]="rec.track_img" />
              <div class="track-text">
                <div class="track-title">
                  {{ rec.track_name | truncate : 18 }}
                </div>
                <div class="track-artist">{{ rec.artist_name }}</div>
              </div>
            </div>
            <div class="message">
              “<em>{{ rec.message }}</em
              >”
            </div>
            <div class="sender-info link">
              <a
                [routerLink]="['/', rec.playlist_id]"
                style="display: flex; align-items: center"
              >
                <img
                  class="sender-avatar"
                  [src]="rec.profile_img"
                  alt="{{ rec.display_name }}"
                />
                <span class="sender-name">{{ rec.display_name }}</span>
              </a>
            </div>

            <div>{{ rec.emoji }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- MODAL POPUP-->
<app-modal [(visible)]="visible"></app-modal>
