<body>
  <div class="container-x">
    <h1>
      I'm sorry, due to Spotify's API changes, to use this service you must
      pre-register with
      <span
        ><a
          style="text-decoration: none; color: #007bff"
          href="mailto:fionnmcardle11@gmail.com?subject=song-rec.me%20registration&body=Hey%20👋,"
          >fionnmcardle11&#64;gmail.com</a
        > </span
      >. You can find out more about the restrictions in
      <a
        href="https://www.reddit.com/r/truespotify/comments/1l2am4i/spotify_just_killed_indie_development_with_their/"
        target="_blank"
        style="color: #ff4500; text-decoration: none; font-weight: bold"
      >
        this Reddit post.
      </a>
    </h1>

    <iframe
      src="https://www.redditmedia.com/r/truespotify/comments/1l2am4i/spotify_just_killed_indie_development_with_their/?embed=true"
      frameborder="0"
    >
    </iframe>
  </div>
</body>
