.playlist-container {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  gap: 2rem;
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 1rem;
  font-family: Arial, sans-serif;
}

.title {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.recs {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
}

.playlist-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
}

.playlist-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlist-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

.playlist-title p {
  margin: 0.2rem 0;
  font-size: 2.8rem;
  font-weight: bold;
  color: #111;
}

.playlist-title button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.playlist-info {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #333;
}

.playlist-stats {
  font-size: 1.3rem;
  color: #666;
  margin-top: 1rem;
}

.inactive {
  opacity: 0.3;
}

button {
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  border: none;
  border-bottom: 0.2rem solid transparent;
}

button:active {
  border-bottom: 0.2rem solid black;
}

.emoji-button {
  font-size: 1.8rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.selected-reaction {
  font-size: 1.8rem;
}

.container {
  max-width: 90rem;
  padding: 0 3.2rem;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.track-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
  font-family: sans-serif;
}

.track-text .track-title {
  font-weight: 700;
  font-size: 1.6rem;
}

.track-text .track-artist {
  color: gray;
  font-size: 1.2rem;
}

.sender-name {
  font-weight: 500;
  font-size: 1.2rem;
}

.message {
  font-style: italic;
  font-size: 1.3rem;
  color: #333;
  flex-grow: 1;
  min-width: 18rem;
  max-width: 18rem;
}

.react-button {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  border: 0.1rem solid #aaa;
  background: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 0.2s;
}

.react-button:hover {
  background: #f0f0f0;
}

.nonexistent-div {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nonexistent-header {
  text-align: center;
  margin-bottom: 3rem;
}

.container-y {
  padding: 0 4.8rem;
  max-width: 92rem;
  margin: 0 auto;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container-x {
  padding: 0 4.8rem;
  max-width: 92rem;
  margin: 0 auto;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 60rem) {
  .playlist-container {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .track-text .track-title {
    font-size: 1.2rem;
  }

  .track-text .track-artist {
    font-size: 1rem;
  }

  .playlist-container {
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .playlist-img {
    width: 14rem;
    height: 14rem;
    border-radius: 0.5rem;
  }

  .playlist-title {
    gap: 0.25rem;
    margin-bottom: 0.75rem;
  }

  .playlist-title p {
    margin: 0.2rem 0;
    font-size: 2rem;
  }

  .playlist-info {
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }

  .playlist-stats {
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 35rem) {
  .track-text .track-title {
    font-size: 1rem;
  }

  .track-text .track-artist {
    font-size: 0.8rem;
  }

  .playlist-title p {
    font-size: 1.4rem;
  }

  .playlist-info {
    margin-top: 0.25rem;
    font-size: 1rem;
  }

  .playlist-stats {
    font-size: 1rem;
    margin-top: 0.25rem;
  }

  .open-in-s {
    font-size: 1rem;
  }
}

h1 {
  text-align: center;
}

.track-row {
  flex-direction: column;
}

.playlist-container-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(38rem, 1fr));
  gap: 2.4rem;
  min-height: 34rem;
}

.track-info {
  /* gap: 1rem; */
  min-width: 36rem;
  max-width: 36rem;
  padding-left: 1rem;
}

.recommend-text {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.4rem;
  font-style: italic;
}
