<div *ngIf="sentRecs.length === 0" class="container-x">
  <h1>You haven't recommended any tracks to anyone 🥺</h1>
</div>
<div *ngIf="sentRecs.length !== 0">
  <h1 class="title">Recommendations you've sent</h1>
  <div class="playlist-container">
    <div *ngFor="let rec of sentRecs; let i = index" style="margin: 0 auto">
      <div class="track-row">
        <div *ngIf="rec.emoji" class="emoji">
          {{ rec.emoji }}
        </div>
        <div>
          <div class="track-info">
            <img class="album-cover" [src]="rec.track_img" />
            <div class="track-text">
              <div class="track-title">
                {{ rec.track_name | truncate : 22 }}
              </div>
              <div class="track-artist">{{ rec.artist_name }}</div>
            </div>
          </div>
        </div>
        <div class="message-and-playlist">
          <div>
            <span style="font-size: 1.4rem" style="font-weight: bold"
              >MESSAGE:</span
            >
            <span class="message" class="recommend-text">
              "{{ rec.message.trim() }}"</span
            >
          </div>
        </div>

        <!-- Sent To Section -->
        <p class="sent-to">
          <span style="font-size: 1.4rem" style="font-weight: bold"
            >SENT TO:</span
          >

          {{ rec.owner_name }}'s<a
            [routerLink]="['/', rec.playlist_id]"
            style="
              display: inline;
              align-items: center;
              text-decoration: none;
              color: #007bff;
            "
          >
            <span class="sender-name recommend-text"
              >"{{ rec.playlist_name }}"</span
            >
          </a>
          playlist
        </p>
      </div>
    </div>
  </div>
</div>
