<p-dialog
  [modal]="true"
  [(visible)]="visible"
  (onHide)="onHide()"
  [style]="{
    width: '350px',
    'background-color': '#0a0a0a',
    'border-color': '#0a0a0a',
    'border-radius': '6px'
  }"
>
  <div
    *ngIf="trackName"
    class="song-container"
    style="margin-top: 0px; width: 323px"
  >
    <img
      [src]="trackImage"
      alt="Dark Side of the moon album cover"
      style="height: 60px; width: 60px; border-radius: 2px"
      draggable="false"
    />
    <div class="song-info">
      <div
        style="
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          color: #f0f0f0;
        "
      >
        {{ trackName }}
      </div>
      <div
        style="
          font-size: 12px;
          color: #777;
          height: 20px;
          text-transform: uppercase;
        "
      >
        {{ trackArtist }}
      </div>
    </div>
  </div>

  <div *ngIf="!trackName">
    <div>
      <div class="dialog-header">
        Give your recommendation <br />
        playlist a name
      </div>
    </div>
  </div>

  <div *ngIf="trackName" class="textarea-wrapper-1" style="margin-top: 15px">
    <textarea
      style="resize: none"
      rows="5"
      cols="30"
      maxlength="140"
      pTextarea
      [(ngModel)]="value"
      placeholder="Send with a personal note"
    ></textarea>

    <div class="char-counter">{{ value?.length || 0 }}/140</div>
  </div>
  <div *ngIf="!trackName" class="textarea-wrapper">
    <textarea
      style="resize: none"
      rows="1"
      cols="30"
      maxlength="140"
      pTextarea
      [(ngModel)]="title"
      placeholder='e.g. "Send me chill songs ✌️"'
    ></textarea>
  </div>

  <div class="dialog-btn-container">
    <p-button
      (click)="onClick()"
      (click)="onHide()"
      [style]="{
        'border-radius': '4px',
        'background-color': '#fff',
        'border-color': '#fff',
        'font-weight': 'bold',
        color: '#151515'
      }"
      class="send-button"
    >
      <span *ngIf="!trackName">CREATE</span><span *ngIf="trackName">SEND</span>
    </p-button>
  </div>
</p-dialog>

<p-toast></p-toast>
