/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

* {
  font-family: "inter" sans-serif;
  margin: 0;
  padding: 0;
}

.p-dialog-header {
  padding: 6.75px !important;
  margin: 0 !important;
}

.p-dialog-header-actions {
  position: absolute;
  right: 12.5px;
  top: 12.5px;
}

.p-dialog-title {
  color: #666;
}

.p-textarea {
  background-color: black;
}

/* Public */

.track-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
  font-family: sans-serif;
}

.index {
  width: 2rem;
  text-align: center;
  font-weight: bold;
}

.track-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 24rem;
  max-width: 24rem;
}

.album-cover {
  height: 6rem;
  width: 6rem;
  object-fit: cover;
  border-radius: 0.4rem;
}

.track-text .track-title {
  font-weight: 700;
  font-size: 1.6rem;
}

.track-text .track-artist {
  color: gray;
  font-size: 1.2rem;
}

.sender-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 18rem;
}

.sender-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.sender-name {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 0.6rem;
}

.message {
  font-style: italic;
  font-size: 1.3rem;
  color: #333;
  flex-grow: 1;
  min-width: 18rem;
  max-width: 18rem;
}

.title {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.container-x {
  padding: 0 4.8rem;
  max-width: 92rem;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 60rem) {
  .title {
    font-size: 1.8rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }

  .track-row {
    gap: 1rem;
    padding: 0.25rem 0;
  }

  .track-info {
    gap: 0.5rem;
    min-width: 16rem;
    max-width: 16rem;
  }

  .album-cover {
    height: 5rem;
    width: 5rem;
  }

  .track-text .track-title {
    font-size: 1.2rem;
  }

  .track-text .track-artist {
    font-size: 1rem;
  }

  .message {
    font-size: 1.2rem;
    min-width: 14rem;
    max-width: 14rem;
  }
}

@media (max-width: 35rem) {
  .title {
    font-size: 1.4rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .track-row {
    gap: 0.5rem;
    padding: 0.25rem 0;
  }

  .rec-text {
    display: none;
  }
  .playlist-container {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }

  .playlist {
    width: 14rem;
  }

  .playlist-btn {
    width: 14rem;
  }

  .playlist-img,
  .playlist-img-container {
    width: 14rem;
    height: 14rem;
  }

  .playlist-name {
    width: 14rem;
    font-size: 1rem;
  }

  .track-text .track-title {
    font-size: 1rem;
  }

  .track-text .track-artist {
    font-size: 0.8rem;
  }

  .message {
    font-size: 1rem;
    min-width: 14rem;
    max-width: 14rem;
  }
}
